/* .MuiGrid-item {
   padding: 0;
}
.MuiGrid-root {
   padding: 0;
}

.css-3vt552-MuiGrid-root{
  padding: 0;
}

.MuiGrid-root.MuiGrid-item.MuiGrid-grid-md-7{
  padding: 0;
}
.MuiGrid-root.MuiGrid-item.MuiGrid-grid-md-5{
  padding: 0;
} */

